.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
}
body {
  background: linear-gradient(to top, #4999db 0.05%, rgb(250, 253, 255) 100%);
}
h1 {
  color: #4999db;
  font-size: 66px;
  margin: 10px auto;
  text-align: left;
  text-decoration: none;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h2 {
  color: #4999db;
  font-size: 60px;
  margin: 10px auto;
  text-align: right;
  text-decoration: none;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.day {
  position: relative;
  left: 10px;
  bottom: 50px;
}
.time {
  position: relative;
  right: 15px;
  bottom: 130px;
}
video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  bottom: 135px;
}
.location {
  color: #348dd6;
  font-weight: bold;
  font-size: 55px;
  margin: 0 auto;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  bottom: 140px;
  left: 10px;
}
.temperature {
  color: #348dd6;
  font-weight: bold;
  font-size: 45px;
  text-align: right;
  display: block;
  position: relative;
  bottom: 215px;
  right: 55px;
}
.units {
  text-align: center;
  display: block;
  position: relative;
  bottom: 210px;
}
.conditions {
  color: #2e628d;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  padding: 50;
}
ul {
  list-style: none;
  padding: 10px;
}
.row {
  color: #ffffff;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  position: relative;
  left: 55px;
  bottom: 390px;
}
.mb-3 {
  display: block;
  width: 200px;
  margin: 0px auto;
  padding: 0px;
  font-size: 15px;
  color: #ffffff;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 8px 1px rgb(5, 5, 5, 0.5);
  position: relative;
  bottom: 60px;
  right: 130px;
}
.btn-primary {
  background: #38a1f7;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 8px 1px rgb(5, 5, 5, 0.5);
  position: relative;
  bottom: 113px;
  left: 10px;
}
button {
  background: #2b7ae2;
  color: #c6e3fa;
  padding: 7px;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 3px 8px 1px rgb(5, 5, 5, 0.5);
  position: relative;
  bottom: 148px;
  left: 190px;
}
button:hover {
  background: #38a1f7;
  color: #ffffff;
}
#celisius-link {
  text-decoration: none;
  font-weight: bold;
  color: #226cb1;
  text-align: center;
  display: block;
  position: relative;
  top: 104px;
  left: 80px;
}
#fahrenheit-link {
  text-decoration: none;
  font-weight: bold;
  color: #226cb1;
  text-align: center;
  display: block;
  position: relative;
  top: 80px;
  left: 55px;
}
#current-prec {
  position: relative;
  bottom: 60px;
  text-align: left;
}
#current-humidity {
  position: relative;
  bottom: 50px;
  text-align: left;
}
#current-wind-speed {
  position: relative;
  top: -40px;
  text-align: left;
}
#source-code {
  color: #105ed3;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  position: relative;
  left: 290px;
  bottom: 370px;
}
#signature {
  color: #ffffff;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  position: relative;
  left: 300px;
  bottom: 370px;
}
