.container {
  max-width: 600px;
  max-height: 800px;
  margin: 10px auto;
  margin-bottom: 100px;
  padding: 30px;
  border: 2px solid#ffffff;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background: linear-gradient(to top, #4999db 0.05%, rgb(250, 253, 255) 100%);
}
h1 {
  margin-top: -30px;
  color: #4999db;
  font-size: 36px;
  text-align: left;
  text-decoration: none;
  font-weight: lighter;
}
#time {
  display: block;
  margin-top: -40px;
  font-size: 30px;
  text-align: right;
}
video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}
.location {
  color: #217eca;
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
}
.temperature {
  display: block;
  text-align: right;
  max-width: 480px;
  margin-top: -30px;
  color: #217eca;
  font-weight: bold;
  font-size: 25px;
}
#icon {
  max-width: 45px;
  margin-top: -60px;
  margin-left: 490px;
}
#celsius-link {
  font-weight: bold;
  font-size: 18px;
  color: #226cb1;
  display: block;
  margin-top: -28px;
  margin-left: 500px;
}
#fahrenheit-link {
  font-weight: bold;
  font-size: 18px;
  color: #226cb1;
  display: block;
  margin-top: -27px;
  margin-left: 525px;
}
ul {
  list-style: none;
  display: block;
  margin-left: -30px;
  margin-top: -22px;
}
.conditions {
  color: #2e628d;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}
#current-descr {
  text-align: left;
  text-transform: capitalize;
}
#current-humidity {
  text-align: left;
}
#current-wind-speed {
  text-align: left;
}
.mb-3 {
  display: block;
  width: 300px;
  margin: 0px auto;
  margin-left: 0px;
  padding: 0px;
  font-size: 15px;
  color: #ffffff;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 8px 1px rgb(5, 5, 5, 0.5);
}
.btn-primary {
  background: #38a1f7;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 8px 1px rgb(5, 5, 5, 0.5);
  margin-left: 320px;
  margin-top: -97px;
}
button {
  background: #2b7ae2;
  color: #c6e3fa;
  padding: 7px;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 3px 8px 1px rgb(5, 5, 5, 0.5);
  display: block;
  margin-top: -79px;
  margin-left: 400px;
}
button:hover {
  background: #38a1f7;
  color: #ffffff;
}
.row {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
  margin-top: 10px;
}
#source-code {
  color: #105ed3;
  font-size: 16px;
}
#signature {
  color: #ffffff;
  font-size: 16px;
}
#sign-code {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 100px;
  margin-top: -80px;
}
